/**
 *
 * Popover Widget CSS
 *
 **/

div.popover.bursts h3.popover-title{
	font-weight: bold;
}
div.popover.bursts div.popover-content {
	color: black;
}
div.popover.bursts button.btn-zoomin {
	float: left;
}
div.popover.bursts button.btn-close {
	float: right;
}
div.popover.bursts div.popover-content {
	padding-right: 10px;
}
div.popover.bursts div.popover-footer {
	padding: 10px;
}

div.twitter-bootstrap > .bursts {
	background-color: #fff;
}

.bursts .btn {
  color: #333;
  border-color: #ccc;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
}
.bursts .btn:hover,
.bursts .btn:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.bursts .btn:active,
.bursts .btn.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.bursts .btn:active,
.bursts .btn.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-image: none;
}