<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11, IE=12">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="application-name" content="Probe Alligator" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='mstile-144x144.png') }}" />

<!--
black-tie
blitzer
cupertino
dark-hive
dot-luv
eggplant
excite-bike
flick
hot-sneaks
humanity
le-frog
mint-choc
overcast
pepper-grinder
redmond
smoothness
south-street
start
sunny
swanky-purse
trontastic
ui-darkness
ui-lightness
vader
-->



    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/jqueryui/dataTables.jqueryui.css">

    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/jqueryui/dataTables.jqueryui.js"></script>






    <!-- link rel="stylesheet" href="{{ url_for('static', filename='endace.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='endace_popover.css') }}" type="text/css" charset="utf-8" -->

    <!-- link rel="stylesheet" href="style.css" / -->


    {% block head %}
    <title>{% block title %}Probe Alligator{% endblock %}</title>
    {% endblock %}

    <!-- style type="text/css">
    table.gridtable {
    	color:#333333;
    	border-width: 1px;
    	border-color: #666666;
    	border-collapse: collapse;
    }
    table.gridtable tr th {
    	border-width: 1px;
    	padding: 8px;
    	border-style: solid;
    	border-color: #666666;
    	background-color: #dedede;
    }
    table.gridtable tr td {
    	border-width: 1px;
    	border-style: solid;
    	border-color: #666666;
    }
    table.gridtable tr:nth-child(even) {background-color: #efefef}
    table.gridtable tr:nth-child(odd) {background-color: #ffffff}
    </style -->

    <style type="text/css">
    body {
		min-height: 2000px;
		padding-top: 70px;
	}
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li id="pas"><a href="{{ url_for('pas') }}{{ '/' + source if source else '' }}">Claster</a></li>
                        <li id="nodes"><a href="{{ url_for('nodes') }}{{ '/' + source if source else '' }}">Nodes<span class="sr-only">Nodes</span></a></li>
                        <li id="eps"><a href="{{ url_for('eps') }}{{ '/' + source if source else '' }}">EPs</a></li>
                        <li id="stores"><a href="{{ url_for('stores') }}{{ '/' + source if source else '' }}">Stores</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <nav class="footer navbar navbar-default navbar-fixed-bottom" id="footer">
                    {% block footer %}
                    <div class="disabled">
                		<span class="footer-item">&copy; 2015 Endace Technology Ltd. EndaceVision is a trademark of Endace Technology Ltd.</span>
                		<span class="footer-item"><a href="/">Probe Alligator</a></span>
                    </div>
                    {% endblock %}
                </nav>

                <div class="jumbotron">
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#{{request.endpoint}}").parent().addClass("active");
            $("#{{request.endpoint}}").addClass("active");
        })
    </script>
</body>
</html>
