{% extends "base.html" %}
{% block title %}Edge Probes{% endblock %}

{% block content %}
<div >
    <table class="gridtable table table-striped">
    <thead>
        <tr id="table-header">
            <th>Probe</th>
            <th>Connected</th>
        </tr>
    </thead>
    <tbody>
{% for p in probes %}
        <tr id="output">
            <td><a href="http://{{ p["ip_addr"] }}"><b><font color="{{ 'green' if p["connected"] else 'red' }}">{{ p["ip_addr"] }}</font></b></a></td>
            <td>
                {% if p["connected"] %}
                <a class="btn btn-default" href="/remove/{{source}}/{{ p['id'] }}" role="button">Remove...</a>
                 {% else %}
                <a class="btn btn-default" href="/connect/{{ source }}/{{ p["ip_addr"] }}" role="button">Connect...</a>
                {% endif %}
            </td>
            <td><a href="/probe/{{ p["ip_addr"] }}"><b><font color="{{ 'green' if p["connected"] else 'red' }}">PA Configuration - On Probe</font></b></a></td>
        </tr>
{% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
