{% extends "template_with_bs.html" %}
{% block content %}
    <div class="jumbo">
        <h2>Welcome to Flask!</h2>
        <br/>
        <p>Click <a href="/welcome">here</a> to go to the welcome page</p>
    </div>
{% endblock %}
