{% extends "base.html" %}
{% block title %}SSE Messages (on {{ source }}){% endblock %}

{% block content %}

    <h3 class="sub-header">SSE Messages (on <a href="/nodes/{{ source }}">{{ source }}</a>):</h2>
    <div class="table-responsive">
        <!-- table class="table table-striped gridtable" -->
        <table id="events" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Table</th>
                <th>Event</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#events').dataTable( {
            "searching": false,
            "columns": [
                { "width": "10%" },
                { "width": "10%" },
                null
            ]
        } );
    });
    $(document).ready(
            function() {
                sse = new EventSource('/stream/{{ source }}');
                sse.onmessage = function(e) {
                      if (window.console && window.console.log) {
                        window.console.log(e);
                      }
                    if (e.data != "Timeout") {
                        var data = JSON.parse(e.data);
                        //alert('A message has arrived!\n' +e.data);

                        $('tbody').prepend(
                            '<tr><td>' + data["table"] + '</td><td>'
                                + data["event"] + '</td><td>'
                                + JSON.stringify(data["entry"], null, 4)
                            + '</td></tr>');
                    }

                };
                sse.onopen = function (e) {
                    console.log("SSE open");
                };
                sse.onerror = function (e) {
                    console.log("SSE error");
                    if (e.readyState == EventSource.CLOSED) {
                    // Connection was closed.
                    console.log("SSE Connection was closed");
                }
            };
        });
    </script>

{% endblock %}
