{% extends 'template_with_bs.html' %}
{% block content %}
    <h1>Login</h1>
{% if error %}<p class="error"><strong>Error:</strong>{{ error }}</p>{% endif %}
  <form method="post" class="form">
    <h3 class="form-heading">Login <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>

<dl>
<dt>Username:
<dd><input type="text" name="username" value="{{request.form.username}}">
<dt>Password:
<dd><input type="password" name="password" value="{{request.form.password}}">
</dl>
<p>
<input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
