{% extends "base.html" %}
{% block title %}Nodes{% endblock %}

{% block content %}

    {% for node in nodes %}
        <li>
            <a href="/stores/{{source}}/{{ node['id'] }}">{{ node['host_name'] }} ({{ node['ip_addr'] }}) ({{ node["store_count"] }} sources)</a>
            <a class="btn btn-default" href="/remove/{{source}}/{{ node['id'] }}" role="button">Remove</a>
        </li>
    {% endfor %}

{% endblock %}
