{% extends "base.html" %}
{% block title %}Probe Aggregator{% endblock %}

{% block content %}


<h3>High Availability</h3>

<form class="form-horizontal" id="add_pa_form" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Add Probe Aggregator or Cluster</legend>

<!-- Hostname or IP address -->
<div class="form-group">
    <label for="inputEmail" class="control-label col-xs-2">Hostname or IP address</label>
    <div class="col-xs-10">
        <input type="text" class="form-control" name="pa_to_join"
        id="pa_to_join" placeholder="Hostname or IP address" value="{{ pa_to_join }}">
    </div>
</div>

<!-- Button -->
<div class="form-group">
    <label for="singlebutton" class="control-label col-xs-2"></label>
    <div class="col-xs-10">
        <input type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary" value="Add Server">
    </div>

</div>


</fieldset>
</form>


<div>
    <table class="gridtable table table-striped">
    <thead>
        <tr id="table-header">
            <th>Hostname/IP</th>
            <th>Online</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
{% for p in pas %}
        <tr id="output">
            <td>
                <a href="http://{{ p["ip_addr"] }}"><b>
                    <font color="{{ 'green' if p["is_connected"] else 'red' }}">{{ p["name"] }} ({{ p["ip_addr"] }})</font></b>
                </a>
            </td>
            <td>
                <font color="{{ 'green' if p["is_alive"] else 'red' }}">
                    {{ "ALIVE" if p["is_alive"] else "DEAD" }}
                </font>
            </td>
            <td>
                {% if source != p['ip_addr'] %}
                    {% if p["is_connected"] %}
                    <a class="btn btn-default" href="{{ source }}/remove/{{ p['id'] }}" role="button">Remove...</a>
                    {% else %}
                    <a class="btn btn-default" onlick="add_pa('{{ p["ip_addr"] }}')" role="button">Connect...</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
    </table>
</div>

<script>
function add_pa(pa) {
    pa_to_join.value = pa;
    add_pa_form.submit();
}
</script>
{% endblock %}
