{% extends "base.html" %}
{% block title %}Probe Alligators{% endblock %}

{% block content %}
    <!-- div class="jumbo" -->
    {% for pa in pas %}
        <li>
            <a href="/live/{{ pa["ip_addr"] }}">{{ pa["name"] }} ({{ pa["ip_addr"] }})</a>
            <a class="btn btn-default" href="/clean/{{ pa["ip_addr"] }}" role="button">CLEAN DATA</a>
            <a class="btn btn-default" href="/pa/{{ pa["ip_addr"] }}" role="button">Setup</a>
        </li>
    {% endfor %}

{% endblock %}
