{% extends "base.html" %}
{% block title %}Edge Probes{% endblock %}

{% block content %}



<form class="form-horizontal" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Probe Aggregator</legend>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Hostname or IP address</label>
  <div class="col-md-4">
    <textarea class="form-control" style="height: 120px;" id="pas_to_join" name="pas_to_join">{{ pas_to_join }}</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>


</fieldset>
</form>


<div >
    <table class="gridtable table table-striped">
    <thead>
        <tr id="table-header">
            <th>Hostname/IP</th>
            <th>Online</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
{% for p in pas %}
        <tr id="output">
            <td>
                <a href="http://{{ p["ip_addr"] }}"><b>
                    <font color="{{ 'green' if p["is_connected"] else 'red' }}">{{ p["name"] }} ({{ p["ip_addr"] }})</font></b>
                </a>
            </td>
            <td>
                <font color="{{ 'green' if p["is_alive"] else 'red' }}">
                    {{ "ALIVE" if p["is_alive"] else "DEAD" }}
                </font>
            </td>
            <td>
                {% if p["is_connected"] %}
                <a class="btn btn-default" href="/remove/{{source}}/{{ p['id'] }}" role="button">Remove...</a>
                {% else %}
                <a class="btn btn-default" href="/connect/{{ source }}/{{ p["ip_addr"] }}" role="button">Connect...</a>
                {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
