{% extends "base.html" %}
{% block title %}Store{% endblock %}

{% block content %}

<div >
    <table id="store" class="gridtable table table-striped">
    <thead>
        <tr id="table-header">
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
{% for key, value in store.items() %}
        <tr id="output">
            <td><b>{{ key }}</b></td>
            <td>
                {% if key=="node_id" %}
                    <a href="/stores/{{source}}/{{ value }}">{{ value }}</a>
                {% else %}{{ value }}{% endif %}
            </td>

        </tr>
{% endfor %}
    </tbody>
    </table>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#store').dataTable( {
        "paging": false,
        "searching": false,
        "columns": [
            { "width": "20%" },
            null
        ]
    } );
});
</script>

{% endblock %}
