{% extends "base.html" %}
{% block title %}Stores{% endblock %}

{% block content %}

<div>
    <table id="storestbl" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Node</th>
            <th>Store</th>
        </tr>
    </thead>
    <tbody>

    {% for s in stores %}
    <tr>
        <td>
            <a href="/stores/{{source}}/{{ s['node_id'] }}">{{ s["host_name"] }}</a>
        </td>
        <td>
            <a href="/store/{{source}}/{{ s['id'] }}">{{ s["erfstore_name"] }}: {{s['erfstore_id']}} ({{ s['id'] }})</a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
    </table>
<div>

<script type="text/javascript">
$(document).ready(function() {
    $('#storestbl').dataTable( {
        "paging": false,
        "searching": false,
        "columns": [
            { "width": "30%" },
            null
        ]
    } );
});
</script>

{% endblock %}
