<!doctype html>
<head>
<meta charset="utf-8">
<title>Flask Tutorial (Part 1)</title>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
