{% extends "template_with_bs.html" %}
{% block content %}
    <div class="jumbo">
        <h2>Welcome to Flask!</h2>

<p>Twee jean shorts bitters, Blue Bottle McSweeney's tote bag Echo Park. Cold-pressed plaid farm-to-table four dollar toast viral. Readymade Portland pop-up cred. Artisan Thundercats next level, aesthetic Vice Shoreditch deep v umami dreamcatcher scenester DIY organic jean shorts Pinterest. Umami fanny pack cray, messenger bag skateboard lumbersexual health goth Pitchfork photo booth leggings stumptown Echo Park. Try-hard lomo Neutra ethical church-key four loko. YOLO authentic jean shorts flexitarian pug, typewriter narwhal tofu migas flannel 90's kale chips.
</p>
<p>Chambray messenger bag four loko DIY seitan, kogi PBR&B vinyl Vice cardigan chillwave iPhone XOXO. Wayfarers stumptown Vice hella Wes Anderson, sriracha occupy kitsch tousled wolf. Raw denim Marfa synth banjo. DIY roof party umami, migas ugh slow-carb Brooklyn kitsch four dollar toast mustache asymmetrical readymade put a bird on it. American Apparel Banksy Pitchfork trust fund, banh mi squid Godard kitsch street art brunch pop-up cardigan. Wes Anderson viral High Life post-ironic narwhal. Vice disrupt plaid raw denim, flannel letterpress art party Truffaut pug Shoreditch.
</p>

<p>Single-origin coffee blog jean shorts, gentrify shabby chic hashtag sustainable. Readymade tilde cornhole, mlkshk narwhal before they sold out cronut Intelligentsia Bushwick biodiesel +1 Banksy. Street art put a bird on it chia lumbersexual umami. Chambray chia typewriter, messenger bag fashion axe lumbersexual sartorial bicycle rights letterpress deep v. Hoodie narwhal Vice sartorial, hella mlkshk meh wayfarers McSweeney's paleo plaid art party mixtape bitters hashtag. Portland kitsch Kickstarter, mustache church-key tote bag crucifix selvage trust fund iPhone locavore master cleanse farm-to-table Shoreditch blog. Williamsburg banh mi Odd Future, leggings messenger bag Austin church-key four dollar toast aesthetic yr.
</p>

<p>Banh mi flannel Schlitz, squid 90's single-origin coffee tilde. Disrupt artisan pork belly, authentic High Life master cleanse forage synth Tumblr try-hard PBR literally pug cred. Synth next level wayfarers bespoke dreamcatcher, readymade Austin mixtape Godard Shoreditch mustache. McSweeney's migas Pinterest meggings, typewriter forage normcore cornhole messenger bag ethical. Photo booth before they sold out freegan Austin food truck. Sriracha listicle Austin biodiesel trust fund Truffaut. Typewriter keffiyeh cold-pressed semiotics, fixie brunch asymmetrical disrupt retro try-hard stumptown food truck jean shorts shabby chic.
Oh. You need a little dummy text for your mockup? How quaint.
</p>

<p>I bet you’re still using Bootstrap too…
</p>

        <br/>
        <p>Click <a href="/">here</a> to go to the home page</p>
    </div>
{% endblock %}
